body {
    background-color: black;
}

h1{
    text-transform: uppercase;
    size: 3rem;
}
.poster{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}

.motivation-img{
    border: 5px solid white;
    width: 100%;
}